#main {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  font-size: xxx-large;
  font-family: sans-serif;
  font-weight: 300;
}

#antwoord {
  height: 60px;
  font-size: xxx-large;
  text-align: center;
  border: 1px solid #ddd;
  font-weight: 300;
  border-radius: 5px;
}

#controleren {
  font-size: xxx-large;
  border: 2px solid #4e7ac7;
  border-radius: 5px;
  padding: 5px 15px;
}

#controleren:hover {
  background-color: #4e7ac7;
  color: white;
  cursor: pointer;
}
