#main {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
  font-weight: 300;
}

.antwoord {
  height: 60px;
  font-size: xx-large;
  text-align: center;
  border: 1px solid #ddd;
  font-weight: 300;
  border-radius: 5px;
}

#som {
  display: inline-grid;
  grid-template-columns: repeat(5, auto);
}

#som > span {
  margin: auto 0.2em;
}

#antwoord-fraction {
  width: 150px;
}

#controleren {
  font-size: xx-large;
  border: 2px solid #4e7ac7;
  border-radius: 5px;
  padding: 5px 15px;
}

#controleren:hover {
  background-color: #4e7ac7;
  color: white;
  cursor: pointer;
}

#resultaat {
  padding: 15px 0 10px 0;
  border: 2px solid white;
  border-radius: 5px;
}

#resultaat.goed {
  background-color: #9e9;
  border-color: #9e9
}

#resultaat.fout {
  background-color: #f99;
  border-color: #f99;
}

#config-panel {
  font-size: smaller;
  color: #666;
  text-align: left;
  position: absolute;
  top: 500px;
  left: 40px;
}

#config-panel h2 {
  font-size: xx-large;
  font-weight: normal;
}

#configurations {
  display: table;
  grid-template-columns: 25px 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.configuration {
  display: table-row;
}

.configuration > * {
  display: table-cell;
  padding: 7px;
}

.configuration input[type=checkbox] {
  width: 20px;
  height: 20px;
}

/* Hide input type=number spinner buttons */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
